.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box{
    text-align: center;
    background-color: rgb(36, 94, 180);
    border: 2px solid rgb(129, 169, 248); 
    margin: 5px;
    padding: 15px;
    width: 30em;
    border-radius: 10px;

}

.nome {
    margin: 20px;
    padding: 10px;
}

.sbox {
    background-color: #74a2d6;
    margin: 8px 0em;
    padding: 1px 0em;
}

ol {
    list-style-type: decimal;
    margin: 30px;
}

ul {
    list-style: none;
}

li {
    margin: 1em 0em;
    text-align: center;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    text-align: center
}

footer {
    background-color:rgb(36, 94, 180);
    margin-top: 8px;
    padding: 1em;
    text-align: center;
}

body {
    margin: 2px 15%;
    padding: 0%;
    background-color: rgb(173, 213, 255);;
}

* {
    font-family: 'Times New Roman', Times, serif;
}

address {
    margin-top: 1em;
}